<ion-view title="Signup" hide-nav-bar="true" id="page3" style="">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <form id="signup-form2" class="list center-form">
      <ion-list id="signup-list2">
        <label class="item item-input top-input" id="signup-input3">
          <input placeholder="Name" type="text">
        </label>
        <label class="item item-input" id="signup-input5">
          <input placeholder="Email" type="email">
        </label>
        <label class="item item-input bottom-input" id="signup-input4">
          <input placeholder="Password" type="password">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="signup-button3" class="button button-positive  button-block">Sign up</button>
      <a ui-sref="login" id="signup-button4" class="button button-positive  button-block button-clear">Alredy have an account?</a>
    </form>
  </ion-content>
</ion-view>